{% extends 'admin/admin_base.html.twig' %}


{% block content %}
    <div class="blockMountain">
        {% for mountain in mountains %}
            <div class="mountain">
                <div class="blockImg">
                    <img class="imgResp" src="{{  asset('uploads/mountain/'~mountain.mountainCover) }}" alt="">
                </div>
                <p>{{ mountain.name }}</p>
                {#<a href="{{ path("admin_mountain") }}">Voir la montagne </a>#}
                <br>
                <a class="edit" href="{{ path("admin_mountain_update", {"id":mountain.id}) }}"> <i class="fas fa-edit"></i>Modifier la montagne </a>
                <br>
                <a class="delete" href="{{ path("admin_mountain_delete", {"id":mountain.id}) }}"> <i class="fas fa-times"></i> Supprimer la montagne</a>
            </div>
        {% endfor %}
    </div>
    <div class="add">
        <a class= "btn btn-lg btn-primary" href="{{ path("admin_mountain_insert") }}"> Ajouter une montagne  </a>
    </div>
{% endblock content %}
