<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- !!!!!!!!!!!!! PENSER AU SEO ET METADONNEE !!!!!!!!!!!! -->

    <title>TheGreatSpeaks</title>
    <link rel="stylesheet" href="{{ asset ('css/main.css') }}">

</head>
<body>
<header class="header">
    <nav>
        <ul class="navHeader">
            <li>{#<a href="{{ path("about") }}">#}Contact</li>
            <li><a href="#explore">Explore</a></li>
            <li><a href="#journal">Journal</a></li>
            <li>{#<a href="{{ path("search") }}">#}Recherche</li>
        </ul>
    </nav>
    <div class="title">
        <h1>The Great Peaks</h1>
    </div>

</header>
{% block content %}

{% endblock content %}
<footer class="footer">
    <div class="blockFooter">
        <p>© 2020 THE GREAT SPEAKS, all rights reserved.</p>
    </div>
    <div class="pipe"></div>
    <nav class="navFooter">
        <ul class="navLu">
            <li>{#<a href="{{ path("about") }}">#}Contact</li>
            <li><a href="#explore">Explore</a></li>
            <li><a href="#journal">Journal</a></li>
            <li>{#<a href="{{ path("search") }}">#}Recherche</li>
        </ul>
    </nav>

</footer>

<!-- mettre des logos marque-->

</body>
</html>
