{% extends 'base.html.twig' %}

{% block content %}
<main>
    <h3 id="explore">Explore les Montagnes</h3>
    <p class="textExplore">
        <span>
            Lorem ipsum dolor sit amet,
            consectetur adipisicing elit. Deleniti
            dicta dolor doloribus eligendi eum facere illo incidunt!
            Lorem ipsum dolor sit amet,
            dicta dolor doloribus eligendi eum facere illo incidunt!
            Lorem ipsum dolor sit amet,
            consectetur adipisicing elit. Deleniti
        </span>
    </p>
    <div class="homeMountains">
        {% for mountain in mountains %}
            <div class="homeMountain">
                <div class="ImgMountain">
                    <a href="{{ path("admin_mountains", {"id":mountain.id}) }}"><img class="imgResp" src="{{  asset('uploads/mountain/'~mountain.mountainCover) }}" alt="mountain"></a>
                </div>
                <p>{{ mountain.name }} </p>
                <p>{{ mountain.localisation}} </p>
            </div>
        {% endfor %}
    </div>
    <a class="linkMountain" href="{{ path("admin_mountains") }}">TOUTES LES MONTAGNES ></a>


    <h3 id="journal">
        Le Journal
    </h3>
    <p class="textJournal">
        <span>
             Lorem ipsum dolor sit amet,
            consectetur adipisicing elit. Deleniti
            dicta dolor doloribus eligendi eum facere illo incidunt!
            Lorem ipsum dolor sit amet,
            dicta dolor doloribus eligendi eum facere illo incidunt!
            Lorem ipsum dolor sit amet,
            consectetur adipisicing elit. Deleniti
        </span>
    </p>
    <div class="homeArticles">
            {% for article in articles %}
                <div class="homeArticle">
                    <div class="ImgArticle">
                        <a href="{{ path("admin_articles", {"id":article.id}) }}"><img class="imgResp" src="{{  asset('uploads/article/'~article.articleCover) }}" alt="article"></a>
                    </div>
                    <p style="text-transform: uppercase">{{ article.date|date('none', 'none', 'fr', null, 'EEEE d MMMM Y') }}</p>
                    <p>{{ article.title }}</p>
                </div>
            {% endfor %}
        </div>
        <a class="linkArticle" href="{{ path("admin_articles") }}">TOUS LES ARTICLES ></a>
</main>
{% endblock content %}